@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
  font-family: Roboto;
  margin: 0%;
  padding: 0%;
}

li {
  list-style: none;
}

/* Header */  
header {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}

header .logo {
  align-self: center;
  height: 12vmin;
  margin: 1.5% 0 0;
  padding-right: 0.5%;
}

header .logo-title{
  font-size: 2.3vw;
  text-align: center;
  font-weight: bold;
  padding: 0 0 0.5%
}

header .motto{
  font-size: 1.3vw;
  font-weight: bold;
}

header .green {
  color: #66BB69;
}

.navbar {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navlinks {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.navlinks > li {
  font-size: 1.1vw;;
  font-weight: bold;
}

.navlinks > li:hover {
  color: green;
  cursor: pointer;
}

/*Main*/ 
.container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(images/test.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
  
.heading {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

/* Search field */
.searchInputWrapper {
  position: relative;
}
  
.searchInput {
  width: 25rem;
  height: 2rem;
  padding: 0 1rem; 
  border-radius: 2rem;
  border: 2px solid #66BB69;
  transition: transform 0.1s ease-in-out;
  background-color: whitesmoke;
}
  
.searchInput:focus {
  outline: none;
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}
  
.searchInputIcon {
  position: absolute;
  right: 0.8rem;
  top: 0.5rem;
  color: #a1a1a1;
  transition: all 0.1s ease-in-out;
}
  
.container:focus-within > 
.searchInputWrapper > .searchInputIcon {
  right: 0.2rem;
}

/* Autocomplete search input */
.autocomplete-suggestion{
  background-color: whitesmoke;
  padding: 5px 20px 5px;
  width: 350px;
}

.autocomplete-suggestion:hover{
  cursor: pointer;
}

/* Filters*/
.filter-container {
  border: 2px solid #66BB69;
  border-radius: 20px;
  display: flex;
  gap: 50px;
  margin: 3% 10% 3%;
  padding: 2% 0 2%;
  font-size: 1vw;
  justify-content: center;
}

label {
  font-weight: bold;
  margin-right: 5px;
  align-self: center;
}

select {
  padding: 8px;
  border: 2px solid#66BB69;
  border-radius: 20px;
  background-color: white;
  font-size: 14px;
  outline: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

select:focus {
  background-color: #66BB69;
  color: white;
  outline: none;
}

select option:checked {
  background-color: green;
  color: #fff;
}

select option:checked::selection {
  background-color: green; 
  color: #fff;
}

/* No results */
.noResultsMessage{
  text-align: center;
  padding: 100px;
  font-size: 30px;
}

/* Recipe results */
.recipeResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1rem;
}

.recipeResults .recipeCard {
  width: 300px;
  margin: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  display: flex; 
  flex-direction: column; 
  text-align: center; 
}

.recipeResults .recipeCard .spoonacular{
  display: flex;
  justify-content: flex-start;
  text-align:start;
}

.recipeResults .recipeCard .spoonacular-logo{
  width: 12%;
  align-self: center;
  padding: 5% 5% 5%;
}

.recipeResults .recipeCard .spoonacular-name{
  font-size: 1.1vw;
  padding: 0;
  margin: 0;
  align-self: center;
}

.recipeResults .recipeCard img {
  width: 100%;
  height: auto;
}

.recipeResults .recipeCard .recipe-title-container{
  display: flex;
  align-self: center;
  margin: 5% 5% 5%;
}

.recipeResults .recipeCard .heart-container {
  width: 10%;
  position: relative;
  height: auto;
}

.heart-container .lightgreen-heart {
  position:absolute;
  top: 0;
  left: 0;
  display: none;
  transition: opacity 0.3s ease;
}

.heart-container:hover .lightgreen-heart {
  display: block;
  opacity: 1; 
  transform: scale(1.3);
}

.recipeCard .recipe-title {
  text-align: center;
  width: 100%;
  font-size: 1vw;
  font-weight: bold;
  padding: 0 1% 0;
  align-self: center;
}

.recipeCard .nutritionInfo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.5vw;
}

.recipeCard:hover{
  cursor: pointer;
}

/* Chart */
.nutrition-info{
  height: 80%;
  color: white;
}

.recipeCard:hover .nutritionInfo {
  display: flex;
}

.recipeCard img:hover{
  cursor: pointer;
}

/* Popup */
.popupContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 1; 
}

.popupContent {
  border: 2px solid red;

  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 
  width: 1100px;
  height: 700px;
  gap: 15px;
}

.popupContent .div-1{
  border: 2px solid blue;
  height: 20%;
}

.popupContent .div-2{
  border: 2px solid green;
  height: 50%;
  display: flex;
  overflow: auto;
}

.popupContent .div-2 .ingredients-container{
  width: 30%;
  padding: 30px;
}

.popupContent .div-2 .steps-container{
  width: 70%;
  height: fit-content;
  padding: 30px;
  border-left: 2px solid black;
}

.popupContent .div-3{
  border: 2px solid rgb(255, 251, 7);
  height: 30%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.popupContent .div-3 .recipe-img{

}

.nutrients-container h2, .ingredients-container h2, .steps-container h2{
  margin-bottom: 10px;
  text-align: center;
}

.nutrients-container li, .ingredients-container li, .steps-container li {
  margin-bottom: 10px;
}

/* .nutrients-container{
  width: 20%;
}

.ingredients-container{
  width: 25%;
}

.steps-container{
  width: 55%;
}

.nutrients-container, .ingredients-container, .steps-container{
  padding: 20px 40px 40px;
  border-radius: 20px;
  overflow: auto;
  height: 100%;
}

.nutrients-container h2, .ingredients-container h2, .steps-container h2{
  margin-bottom: 10px;
  text-align: center;
}

.nutrients-container ol, .ingredients-container ul, .steps-container ol{
  border-radius: 20px;
  padding: 20px;
}

.steps-container ol {
  list-style-type: decimal; 
}

.nutrients-container li, .ingredients-container li, .steps-container li {
  margin-bottom: 10px;
} */


@media screen and (max-width: 1500px){
  /* Filters */
  .filter-container {
    gap: 15px;
    margin: 3% 5% 3%;
    font-size: 1.5vw;
  }
  select {
    font-size: 1vw;
  }
}

@media screen and (max-width: 900px){

  /* Header */
  header .logo-title{
    font-size: 13px;
  }

  header .motto{
    font-size: 9px;
  }

  .navlinks > li {
    font-size: 8.5px;
  }

  /* Recipe results */
  .recipeCard .spoonacular-logo{
    width: 15%;
    align-self: center;
    padding: 5% 5% 5%;
  }

  .recipeCard .spoonacular .spoonacular-name{
    font-size: 12px;
  }

  .recipeCard .recipe-title {
    font-size: 80%;
  }

  /* Filters */
  .filter-container {
    gap: 10px;
    margin: 3% 5% 3%;
    font-size: 1vw;
  }
  
  select {
    font-size: 1vw;
  }
  


}