@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
  font-family: Roboto;
  margin: 0%;
  padding: 0%;
}

li {
  list-style: none;
}

/* Header */  
header {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}

header .logo {
  align-self: center;
  height: 12vmin;
  margin: 1.5% 0 0;
  padding-right: 0.5%;
}

header .logo-title{
  font-size: 2.3vw;
  text-align: center;
  font-weight: bold;
  padding: 0 0 0.5%
}

header .motto{
  font-size: 1.3vw;
  font-weight: bold;
}

header .green {
  color: #66BB69;
}

.navbar {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navlinks {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.navlinks > li {
  font-size: 1.1vw;;
  font-weight: bold;
}

.navlinks > li:hover {
  color: green;
  cursor: pointer;
}

/*Main*/ 
.container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(images/test.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
  
.heading {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

/* Search field */
.searchInputWrapper {
  position: relative;
}
  
.searchInput {
  width: 20rem;
  height: 2rem;
  padding: 0 1rem; 
  border-radius: 2rem;
  border: none;
  transition: transform 0.1s ease-in-out;
  background-color: whitesmoke;
}
  
.searchInput:focus {
  outline: none;
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}
  
.searchInputIcon {
  position: absolute;
  right: 0.8rem;
  top: 0.5rem;
  color: #a1a1a1;
  transition: all 0.1s ease-in-out;
}
  
.container:focus-within > 
.searchInputWrapper > .searchInputIcon {
  right: 0.2rem;
}

/* Filter button */
.filterButton {
  text-align: center;
  margin-top: 20px;
}

#filterButton {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

#filterButton:hover {
  background-color: #2980b9;
}

/* Recipe results */
.recipeResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1rem;
}

.recipeCard {
  width: 300px;
  margin: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  display: flex; /* Use flexbox for vertical centering */
  flex-direction: column; /* Stack image and nutrition info vertically */
  align-items: center; /* Center horizontally */
  text-align: center; /* Center text */
}

.recipeCard img {
  width: 100%;
  height: auto;
}

.recipeCard p {
  padding: 1rem;
  text-align: center;
  background-color: #f2f2f2;
}

.recipeCard .nutritionInfo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.5vw;
}

.recipeCard:hover .nutritionInfo {
  display: flex;
}

.recipeCard img:hover{
  cursor: pointer;
}

.recipeCard .nutrients {
  max-height: 60%; /* Adjust the height as needed */
  overflow-y: auto;
}

/* Popup */
.popupContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 1; 
}

.popupContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 900px){

  header .logo-title{
    font-size: 13px;
  }

  header .motto{
    font-size: 9px;
  }

  .navlinks > li {
    font-size: 8.5px;
  }
}